.header {
    display: flex;
    background-color: #134e6f;
    height: 70px;
    align-items: center;
}

.header_logo {
    height: 50px;
    padding: 1px;
}

.header_menuicon {
    margin: 10px;
    color: white;
}

.header_search {
    display: flex;
    flex: 1;
    margin-left: 50px;
}

.header_searchInput {
    height: 35px;
    padding: 10px;
    width: 90%;
}

.headerSearchIcon {
    padding: 6px;
    height: 35px;
    background-color: #fca91d;
    border-radius: 1px 5px 5px 1px;
    color: #333333;
}

.header_text {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0px 11px;
    color: white;
    font-weight: bold;
}

.header_text:hover {
    border: 1px solid;
    outline-offset: 0;
    padding: 8px;
    margin: 2px;
}

.header_text .header_text1 {
    font-size: 13px;
    font-weight: bold;
}

.header_cart {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 10px;
}

.header_cartCount {
    position: absolute;
    top: 20px;
    right: 57px;
    font-size: 15px;
    color: #fca91d;
}

.header_cart:hover {
    border: 1px solid;
    outline-offset: 0;
    padding: 2px;
    margin: 7px;
}

.header_cartText {
    color: white;
    font-weight: bold;
    font-size: small;
    padding: 3px;
}